.container-fluid{
    justify-content: flex-start;  
}

.container-fluid h1{
    color:white;
    /* font-family: "Trirong", serif; */
   
    font-weight:bold;
}

img{
     border-radius: 100px;
}

.navbar-light
{
    background-color:  rgb(48, 46, 46);
}






