<div class="container-fuild">
    <div class="card">
        <div class="card-header">
            <form>
                <div class="form-row align-items-center">
                  <div class="col-sm-3 my-1">
                    <label class="sr-only" for="inlineFormInputName">User Name</label>
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Username">
                  </div>
                  <div class="col-sm-3 my-1">
                    <label class="sr-only" for="inlineFormInputGroupUsername">Repository Link</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <!-- <div class="input-group-text">@</div> -->
                      </div>
                      <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Repository Link">
                    </div>
                  </div>
                  
                  <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary bg-dark">Submit</button>
                  </div>
                </div>
              </form>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Sr</th>
                    <th scope="col">Pull requests</th>
                    <th scope="col">Repository</th>
                    <th scope="col">Created by</th>
                    <th scope="col">Date & Time</th>
                    <th scope="col">Reviewer</th>
                    
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td><a routerLink="pullrequestcard-page">Mark</a></td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>17-01-2022</td>
                    <td>No reviewer</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td><a routerLink="pullrequested-page">Jacob</a></td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>17-01-2022</td>
                    <td>No reviewer</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td><a routerLink="pullrequested-page">Peter</a></td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>17-01-2022</td>
                    <td>No reviewer</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div> 
</div>

