<div class="container-fuild">
    <div class="card">
        <div class="card-header">
            <form #repoform="ngForm" (ngSubmit)="getPulls(repoform.value)">
       
                <div class="form-row align-items-center">
    
                  <div class="col-sm-3 my-1">
                    <label class="sr-only" for="inlineFormInputName">Owner Name</label>
                    <input  type="text" class="form-control" name="ownername" placeholder="Owner name" ngModel #ownername="ngModel">
                  </div>
                  <!-- <div class="col-sm-3 my-1">
                    <label class="sr-only" for="inlineFormInputGroupUsername">Repo Name</label>
                    <div class="input-group">
                      
                      <input  type="text" class="form-control" name="reponame"  placeholder="Repository name" ngModel #reponame="ngModel">
                    </div>
                  </div> -->

                  <div class="col-sm-3 my-1">
                    <label class="sr-only" for="inlineFormInputName" >Access Token</label>
                    <input  (blur)="getRepos(ownername.value,token.value)" type="text"  class="form-control" name="token" 
                    placeholder="Access Key for private repos" ngModel #token="ngModel">
                   
                  </div>
                  <div class="col-sm-3 my-1">
                  
                    <select class="form-select" name="reponame" #reponame (change)="getRepoNames(reponame.value)" ngModel >
                      <option value="">Select repository</option>
                      <option *ngFor="let item of repoList" value="{{item.name}}">
                          <div class="repo-list">
                            <span>{{item.name}} -> </span>
                            <span>{{item.visibility}}</span> 
                          </div>
                      </option>
                    </select>
                </div>
                  <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary bg-dark">Submit</button>
                  </div>
                </div>
              </form>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                  <tr> 
                    <th scope="col">Sr</th>
                    <th scope="col">Pull requests</th>
                    <th scope="col">Created by</th>
                    <th scope="col">Reviewer</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Date & Time</th>
                    <th scope="col">State</th>    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let repodata of getPullList; index as i">
                    <th scope="row"> {{i+1}}</th>
                    <td><a routerLink="pullrequestcard-page/{{repodata.title}}/{{username}}/{{repodata.number}}">{{repodata.title}}</a></td>
                    <td>{{repodata.user.login}}</td>
                    <td>
                      <p *ngFor="let item of repodata.requested_reviewers">
                        {{item.login}},
                      </p>
                    </td>
                    <td style=" white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis;
                    max-width: 50ch;">{{repodata.body}}</td>
                    <td>{{repodata.created_at | date:'medium'}}</td>
                    <td>{{repodata.state}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div> 
</div>

